body {
  font-family: Arial;
  margin: 0;
  background: #27214b;
  color: rgb(255, 255, 255);
}

header {
  text-align: center;
  padding: 40px;
}

.skills {
  text-align: center;
  padding: 40px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.skills-list span {
  background: #1e293b;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  color: #38bdf8;
  text-decoration: none;
  font-size: 14px;
}

.card a:hover {
  text-decoration: underline;
}


.projects {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.contact {
  text-align: center;
  padding: 40px;
  color: #94a3b8;
}